name: Greetings

on: [ pull_request, pull_request_target, issues ]

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: "Thank you for collaborating with the project by giving us feedback!!"
        pr-message: "Thank you for collaborating with the project to help us to improve!! We hope the plugin is useful to you. Cheers!"
